<%
const {
  thumbType='t-type-1',
  items = [
  {
    title: 'ì´ë²ˆì£¼ì—” 4ê°œ ì¼ì •ì´ ìžˆì–´ìš”! ðŸ—“ï¸',
    description: '[ì²´ë¦¬í¬ìŠ¤ 1í˜¸ì ] ì´ë²ˆì£¼ëŠ” êµìœ¡, ìƒê¶Œ ë¶„ì„, ë¶€ë™ì‚° ê³„ì•½ ì™¸ ì¶”ê°€ ì¼ì •ì´ ìžˆìŠµë‹ˆë‹¤ê³„ì•½ ì™¸ ì¶”ê°€ ì¼ì •ì´ ìžˆìŠµë‹ˆë‹¤ê³„ì•½ ì™¸ ì¶”ê°€ ì¼ì •ì´ ìžˆìŠµë‹ˆë‹¤ê³„ì•½ ì™¸ ì¶”ê°€ ì¼ì •ì´ ìžˆìŠµë‹ˆë‹¤. ì„±ê³µì ì¸ í•˜ë£¨ ë˜ì„¸ìš”!',
    options: '2ì¼ ì „',
    unchecked: false
  },
  {
    title: 'ì´ë²ˆì£¼ì—” 4ê°œ ì¼ì •ì´ ìžˆì–´ìš”! ðŸ—“ï¸',
    description: '[ì²´ë¦¬í¬ìŠ¤ 1í˜¸ì ] ì´ë²ˆì£¼ëŠ” êµìœ¡, ìƒê¶Œ ë¶„ì„, ë¶€ë™ì‚° ê³„ì•½ ì™¸ ì¶”ê°€ ì¼ì •ì´ ìžˆìŠµë‹ˆë‹¤. ì„±ê³µì ì¸ í•˜ë£¨ ë˜ì„¸ìš”!',
    options: '2ì¼ ì „',
    unchecked: false
  },
  {
    title: 'ì´ë²ˆì£¼ì—” 4ê°œ ì¼ì •ì´ ìžˆì–´ìš”! ðŸ—“ï¸',
    description: '[ì²´ë¦¬í¬ìŠ¤ 1í˜¸ì ] ì´ë²ˆì£¼ëŠ” êµìœ¡, ìƒê¶Œ ë¶„ì„, ë¶€ë™ì‚° ê³„ì•½ ì™¸ ì¶”ê°€ ì¼ì •ì´ ìžˆìŠµë‹ˆë‹¤. ì„±ê³µì ì¸ í•˜ë£¨ ë˜ì„¸ìš”!',
    options: '2ì¼ ì „',
    unchecked: true
  },
  {
    title: 'ì´ë²ˆì£¼ì—” 4ê°œ ì¼ì •ì´ ìžˆì–´ìš”! ðŸ—“ï¸',
    description: '[ì¤„ë°”ê¿ˆí…ŒìŠ¤íŠ¸\\n\\n\\n] ì´ë²ˆì£¼ëŠ” êµìœ¡, ìƒê¶Œ ë¶„ì„, \në¶€ë™ì‚° ê³„ì•½ ì™¸ ì¶”ê°€\n ì¼ì •ì´ ìžˆìŠµë‹ˆë‹¤. ì„±ê³µì ì¸ í•˜ë£¨ ë˜ì„¸ìš”!',
    options: '2ì¼ ì „',
    unchecked: false
  }
  ]
} = props || {}
%>

<div class="ui-list-notification">
  <div class="un-lst">
    <!-- foreach:S -->
    <%_for(const k in items){_%>
    <!-- í™•ì¸ì•ˆí•œ ë¦¬ìŠ¤íŠ¸ëŠ” is-unchecked í´ëž˜ìŠ¤ì¶”ê°€ -->
    <button class="un-item <%-items[k].unchecked ? 'is-unchecked' : ''%> ">
      <!-- 
      ì¸ë„¤ì¼ íƒ€ìž… í´ëž˜ìŠ¤ì •ì˜
      1. í˜œíƒ ì¹´í…Œê³ ë¦¬: t-type-1
      1. ì„œë¹„ìŠ¤ ì¹´í…Œê³ ë¦¬: t-type-2
      1. ê°€ì´ë“œ ì¹´í…Œê³ ë¦¬: t-type-3
       -->
      <span class="i-thb <%-thumbType%>"></span>
      <div class="i-txts">
        <div class="x-tt"><%-items[k].title%></div>
        <div class="x-st"><%-items[k].description%></div>
        <div class="x-et">
          <span class="o-t"><%-items[k].options%></span>
        </div>
      </div>
    </button>
    <%_}_%>
    <!-- foreach:E -->
  </div>
</div>