<%
const {
  pageAlias,
  title,
  pageKeyName,
} =  props || {}
const isGuide = pageAlias === '가이드-창업계획서' //디자인피그마 기준 가이드의 창업계획서? 
const isGuideReEntryY = isGuide && (pageKeyName === '재진입-온라인' || pageKeyName === '재진입-오프라인') //가이드의 재진입??
const isGuideReEntryYOnline = isGuideReEntryY && pageKeyName === '재진입-온라인'
const isGuideReEntryYOffline = isGuideReEntryY && pageKeyName === '재진입-오프라인'
const isGuideReEntryN = isGuide && (pageKeyName === '온라인' || pageKeyName === '오프라인') //가이드의 재진입 아닐때??
const isGuideReEntryNOnline = isGuideReEntryN && pageKeyName === '온라인'
const isGuideReEntryNOffline = isGuideReEntryN && pageKeyName === '오프라인'
const isGuideReEntryNOnlineStep2 = isGuideReEntryNOnline && title === '창업계획서-가이드-온라인-스텝2'
%>


<div class="page-sub <%-isGuide && (!isGuideReEntryNOnline || isGuideReEntryNOnlineStep2) && !isGuideReEntryNOffline ? 'sm-pdt' : ''%> <%-isGuide && (isGuideReEntryNOnline && !isGuideReEntryNOnlineStep2 || isGuideReEntryNOffline) ? 'xsm-pdt' : ''%> <%-pageKeyName === 'add-store-complete' ? 'is-bottom-dbbutton':'is-bottom-button'%>">
  <div class="page-spacing">
    <%_if(pageKeyName !== 'add-store-complete'){_%>
    <%_if(pageAlias !== '가이드-창업계획서'){_%>
    <%-include($rootSrc('@/components/BsTitle'),{
        props:{
          title: '스토어 정보를 입력하면<br/>맞춤 추천을 받아요'
        }
      })%>
    <%_}_%>

    <%_if(isGuideReEntryN){_%>
    <%_if(isGuideReEntryNOnlineStep2){_%> <%#창업계획서 스텝2일때%>
    <div class="MB40">
      <div class="adds-top-btwn">
        <%-include($rootSrc('@/components/BsStep'),{
          props: {
            value: isGuideReEntryNOnlineStep2 ? 2 : 1
          }
        })%>
      </div>
    </div>
    <%-include($rootSrc('@/components/BsTitle'),{
          props:{
            title: '수고하셨어요 마지막이에요'
          }
        })%>
    <%_}else{_%> <%#창업계획서 스텝1일때%>
    <%_if(isGuideReEntryNOnline){_%>
    <div class="MB40">
      <%-include($rootSrc('@/components/ui/banner/UiBannerBand'), {
          props: {
            imgSrc: $staticSrc('@/static/images/@dummy/banner6.png'),
            colorBackground: '#ecf2ff'
          }
        })%>
    </div>
    <%_}_%>
    <%_if(isGuideReEntryNOffline){_%>
    <div class="MB40">
      <%-include($rootSrc('@/components/ui/banner/UiBannerBand'), {
          props: {
            imgSrc: $staticSrc('@/static/images/@dummy/banner11.png'),
            colorBackground: '#ecf2ff'
          }
        })%>
    </div>
    <%_}_%>
    <div class="MB40">
      <div class="adds-top-btwn">
        <%-include($rootSrc('@/components/BsStep'),{
                props: {
                  value: isGuideReEntryNOnlineStep2 ? 2 : 1
                }
              })%>
        <button class="ab-rt">이미 운영중인 사장님이세요?</button>
      </div>
    </div>
    <%-include($rootSrc('@/components/BsTitle'),{
      props:{
        title: '스토어 정보를 입력해주세요'
      }
    })%>
    <%_}_%>
    <%_}_%>



    <%_if(!isGuide){_%>
    <div class="subg-form-area">
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '스토어명(상호)',
          }
        })%>
        <%-include($rootSrc('@/components/BsInputField'),{
          props:{
            required: true,
            placeholder: '스토어명을 입력해주세요',
          }
        })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '창업 경험',
          }
        })%>
        <%-include($rootSrc('@/components/BsSelect'),{
          props:{
            required: true,
            value: '첫 창업'
          }
        })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '온 / 오프라인',
          }
        })%>
        <div class="MB10">
          <%-include($rootSrc('@/components/BsButtonGroup'),{
            props:{
              items: [
              {codeId: 1, codeName: '온라인 스토어', codeActive: true},
              {codeId: 1, codeName: '오프라인 스토어', codeActive: false},
              ],
              useflexWrap:false,
              slot: (item)=>include($rootSrc('@/components/BsButton'),{
                props: {
                  block: true,
                  cssBackground: (COLOR)=>COLOR['Common/White'],
                  cssColor: (COLOR)=>COLOR[item.codeActive ? 'Blue/04 (basic)' : 'Gray/04'],
                  cssBorderColor: (COLOR)=>COLOR[item.codeActive ? 'Blue/04 (basic)' : 'Gray/09'],
                  slot: item.codeName
                }
              })
            }
          })%>
        </div>
        <%-include($rootSrc('@/components/BsSelect'),{
            props:{
              required: true,
              placeholder: '스토어 타입을 선택해 주세요'
            }
          })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '창업 아이템',
          }
        })%>
        <%-include($rootSrc('@/components/BsSelect'),{
          props:{
            required: true,
            placeholder: '창업 아이템을 선택해 주세요'
          }
        })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            label: '타겟 상권',
          }
        })%>
        <%-include($rootSrc('@/components/BsSelect'),{
          props:{
            placeholder: '타겟을 선택해 주세요',
          }
        })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '오픈일',
          }
        })%>
        <%-include($rootSrc('@/components/BsDatepicker'),{
          props:{
            required: true,
            placeholder: 'YY.MM.DD',
          }
        })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '준비 기간',
          }
        })%>
        <%-include($rootSrc('@/components/BsSelect'),{
          props:{
            required: true,
            placeholder: '기간을 선택해 주세요',
          }
        })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '사업자 번호',
          }
        })%>
        <%-include($rootSrc('@/components/BsInputField'),{
          props:{
            required: true,
            placeholder: '사업자번호를 입력해주세요',
          }
        })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            required: true,
            label: '초기 예산',
          }
        })%>
        <%
        const localLayoutColum1 = include($rootSrc('@/components/BsInputField'),{
          props:{
            required: true,
            placeholder: '예산을 입력해주세요',
          }
        })
        const localLayoutColum2 = '<span class="ant-copy">만원</span>'
        %>
        <%-include($rootSrc('@/components/BsRow'),{
          props:{
            alignItemCenter: true,
            layoutType: (TYPE)=>TYPE.SECOND_FIT_CONTENT,
            items: [localLayoutColum1, localLayoutColum2]
          }
        })%>
      </div>
      <div class="form-item MB0">
        <%-include($rootSrc('@/components/BsLabel'),{
          props:{
            label: '월 매출',
          }
        })%>
        <%-include($rootSrc('@/components/BsInputField'),{
          props:{
            placeholder: '월 매출을 입력해주세요',
          }
        })%>
      </div>
    </div>
    <%_}else if(isGuideReEntryNOnlineStep2){_%> <%#창업계획서 스텝2일때%>
    <div class="subg-form-area sm-pdb">
      <div class="form-item ">
        <%-include($rootSrc('@/components/BsLabel'),{
                props:{
                  required: false,
                  label: '예산 설정',
                }
              })%>
        <%
        const localLayoutColum1 = include($rootSrc('@/components/BsInputField'),{
          props:{
            required: false,
            placeholder: '예산을 입력해주세요',
          }
        })
        const localLayoutColum3 = include($rootSrc('@/components/BsInputField'),{
          props:{
            required: false,
            placeholder: '목표 월 매출을 입력해주세요',
          }
        })
        const localLayoutColum2 = '<span class="ant-copy">만원</span>'
        %>
        <%-include($rootSrc('@/components/BsRow'),{
          props:{
            alignItemCenter: true,
            layoutType: (TYPE)=>TYPE.SECOND_FIT_CONTENT,
            items: [localLayoutColum1, localLayoutColum2]
          }
        })%>
      </div>
      <div class="form-item MB0">
        <%-include($rootSrc('@/components/BsLabel'),{
                props:{
                  required: false,
                  label: '목표 월 매출',
                }
              })%>
        <%-include($rootSrc('@/components/BsRow'),{
          props:{
            alignItemCenter: true,
            layoutType: (TYPE)=>TYPE.SECOND_FIT_CONTENT,
            items: [localLayoutColum3, localLayoutColum2]
          }
        })%>
      </div>
    </div>
    <div class="cmm-hr page-unspacing"></div>
    <div class="MT24">
      <%-include($rootSrc('@/components/BsTitle'),{
        props:{
          title: '사장님을 위한 추천 대출'
        }
      })%>
      <div class="cm-bab-lst img-banner MT20">
        <!-- foreach:S -->
        <div class="cb-tp">
          <img src="./static/images/@dummy/banner9.png" class="img" alt="" />
        </div>
        <div class="cb-tp">
          <img src="./static/images/@dummy/banner9.png" class="img" alt="" />
        </div>
        <%#
        <div class="cb-tp">
          <span class="img-are">
            <img src="./static/images/common/img_bank_circle_ibk.png" class="cimg" alt="" />
          </span>
          <div class="txt-are">
            <div class="ctt">기업은행 구로디지털단지점</div>
            <div class="stt">간략한 소개 정보</div>
          </div>
        </div>
        %>
        <!-- foreach:E -->
      </div>
    </div>
    <%_}else{_%><%#창업계획서 스텝1일때%>
    <div class="subg-form-area">
      <%_if(isGuideReEntryY){_%>
      <style>
        .page-sub .subg-form-area {
          padding-top: 0;
        }
      </style>
      <%_}_%>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: true,
                label: '스토어명(상호)',
              }
            })%>
        <%-include($rootSrc('@/components/BsInputField'),{
              props:{
                required: true,
                value: isGuideReEntryY ? '체리포스 1호점': '',
                placeholder: '최소 1자 - 최대 15자',
              }
            })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: true,
                label: '창업 경험',
              }
            })%>
        <%-include($rootSrc('@/components/BsSelect'),{
              props:{
                required: true,
                value: '첫 창업'
              }
            })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: true,
                label: '온 / 오프라인',
              }
            })%>
        <div class="MB10">
          <%-include($rootSrc('@/components/BsButtonGroup'),{
                props:{
                  items: [
                  {codeId: 1, codeName: '온라인 스토어', codeActive: isGuideReEntryYOnline || isGuideReEntryNOnline},
                  {codeId: 1, codeName: '오프라인 스토어', codeActive: isGuideReEntryYOffline || isGuideReEntryNOffline},
                  ],
                  useflexWrap:false,
                  slot: (item)=>include($rootSrc('@/components/BsButton'),{
                    props: {
                      block: true,
                      cssBackground: (COLOR)=>COLOR['Common/White'],
                      cssColor: (COLOR)=>COLOR[item.codeActive ? 'Blue/04 (basic)' : 'Gray/04'],
                      cssBorderColor: (COLOR)=>COLOR[item.codeActive ? 'Blue/04 (basic)' : 'Gray/09'],
                      disabled: !item.codeActive ? true : false,
                      slot: item.codeName
                    }
                  })
                }
              })%>
        </div>
        <%_if(!isGuideReEntryYOffline && !isGuideReEntryNOffline){_%>
        <%-include($rootSrc('@/components/BsSelect'),{
              props:{
                required: true,
                disabled: true,
                placeholder: '스토어 타입을 선택해 주세요'
              }
            })%>
        <%_}_%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: true,
                label: '창업 아이템',
              }
            })%>
        <%-include($rootSrc('@/components/BsSelect'),{
              props:{
                required: true,
                placeholder: '창업 아이템을 선택해 주세요'
              }
            })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                label: isGuideReEntryYOnline || isGuideReEntryNOnline ? '타겟 고객' : '타겟 상권',
              }
            })%>
        <%-include($rootSrc('@/components/BsSelect'),{
              props:{
                placeholder: '타겟을 선택해 주세요',
              }
            })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: true,
                label: '준비 시작일',
              }
            })%>
        <%-include($rootSrc('@/components/BsDatepicker'),{
              props:{
                required: true,
                value: isGuideReEntryY ? '24.01.01': '',
                placeholder: 'YY.MM.DD',
              }
            })%>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: true,
                label: '개업 목표일',
              }
            })%>
        <%-include($rootSrc('@/components/BsDatepicker'),{
              props:{
                required: true,
                value: isGuideReEntryY ? '24.03.01': '',
                placeholder: 'YY.MM.DD',
              }
            })%>
        <div class="MT8">
          <%-include($rootSrc('@/components/BsCheckbox'),{
                props:{
                  cssColor: (color)=>color['Gray/05'],
                  checked: false,
                  slot: '개업일 미정'
                }
              })%>
        </div>
      </div>
      <div class="form-item">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: true,
                label: '가이드 일정 이용 여부',
              }
            })%>
        <div class="MB10">
          <%-include($rootSrc('@/components/BsButtonGroup'),{
                props:{
                  items: [
                  {codeId: 1, codeName: '이용', codeActive: true},
                  {codeId: 1, codeName: '이용하지 않음', codeActive: false},
                  ],
                  useflexWrap:false,
                  slot: (item)=>include($rootSrc('@/components/BsButton'),{
                    props: {
                      block: true,
                      cssBackground: (COLOR)=>COLOR['Common/White'],
                      cssColor: (COLOR)=>COLOR[item.codeActive ? 'Blue/04 (basic)' : 'Gray/04'],
                      cssBorderColor: (COLOR)=>COLOR[item.codeActive ? 'Blue/04 (basic)' : 'Gray/09'],
                      slot: item.codeName
                    }
                  })
                }
              })%>
        </div>
        <%-include($rootSrc('@/components/BsNoti'),{
            props:{
              items: [
              '∙ 창업 진행 과정마다 평균 소요 기간으로 일정을 관리 해줍니다.<br/>(원하는 일정으로 수정 가능)',
              ]
            }
          })%>
      </div>
      <div class="form-item MB0">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: false,
                label: '사업자 번호',
              }
            })%>
        <%-include($rootSrc('@/components/BsInputField'),{
              props:{
                required: false,
                placeholder: '사업자번호를 입력해주세요',
              }
            })%>
      </div>
      <%_if(isGuideReEntryY){_%>
      <div class="form-item ">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: false,
                label: '예산 설정',
              }
            })%>
        <%
            const localLayoutColum1 = include($rootSrc('@/components/BsInputField'),{
              props:{
                required: false,
                placeholder: '예산을 입력해주세요',
              }
            })
            const localLayoutColum3 = include($rootSrc('@/components/BsInputField'),{
              props:{
                required: false,
                placeholder: '목표 월 매출을 입력해주세요',
              }
            })
            const localLayoutColum2 = '<span class="ant-copy">만원</span>'
            %>
        <%-include($rootSrc('@/components/BsRow'),{
              props:{
                alignItemCenter: true,
                layoutType: (TYPE)=>TYPE.SECOND_FIT_CONTENT,
                items: [localLayoutColum1, localLayoutColum2]
              }
            })%>
      </div>
      <div class="form-item MB0">
        <%-include($rootSrc('@/components/BsLabel'),{
              props:{
                required: false,
                label: '목표 월 매출',
              }
            })%>
        <%-include($rootSrc('@/components/BsRow'),{
              props:{
                alignItemCenter: true,
                layoutType: (TYPE)=>TYPE.SECOND_FIT_CONTENT,
                items: [localLayoutColum3, localLayoutColum2]
              }
            })%>
      </div>
      <%_}else{_%>
      <%_}_%>
    </div>
    <%_}_%>

    <%_}else{_%>
    <%-include($rootSrc('@/components/BsVerticalLayout'), {
        props: {
          useSlotCenter: include($rootSrc('@/components/ui/drop/UiDropSection'), {
            props: {
              title: '창업계획서 작성완료!',
              description: '창업과정별 스케줄을 완성했어요.<br/>일정을 확인해보세요.',
              imgSrc: $staticSrc('@/static/images/common/img_symb_006.png'),
            }
          }),
        }
      })%>
    <%_}_%>


  </div>
</div>





<%_if(!isGuide){_%>
<%_if(pageKeyName === 'add-store-complete'){_%>
<!-- 창업계획서 완료일때 버튼영역:S -->
<%-include($rootSrc('@/components/BsBottomFixed'), {
  props:{
    slot: include($rootSrc('@/components/BsButtonGroup'), {
      props:{
        items: [
          {codeId: 'code1', codeName: '일정 확인하기'},
          {codeId: 'code2', codeName: '닫기'}
        ],
        slot: (item)=> include($rootSrc('@/components/BsButton'), {
          props: {
            block: true, 
            size: (BUTTON_SIZE)=> BUTTON_SIZE.LARGE,
            cssBackground: (CSS_BACKGROUND)=>CSS_BACKGROUND[item.codeId === 'code1' ? 'Blue/04 (basic)' : 'Common/White'],
            cssBorderColor: (CSS_BORDER_COLOR)=>CSS_BORDER_COLOR[item.codeId === 'code1' ? 'Blue/04 (basic)' : 'Common/White'],
            cssColor: (CSS_COLOR)=>CSS_COLOR[item.codeId === 'code1' ? 'Common/White' : 'Gray/05'],
            slot: item.codeName
          }
        })
      }
    })
  }
})%>
<!-- 창업계획서 완료일때 버튼영역:E -->
<%_}else{_%>
<!-- 하단버튼영역:S -->
<%-include($rootSrc('@/components/BsBottomFixed'), {
  props:{
    slot: include($rootSrc('@/components/BsButton'), {
      props: {
        block: true,
        size:(SIZE)=>SIZE.LARGE,
        cssBackground:(COLOR)=>COLOR['Blue/04 (basic)'],
        cssColor:(COLOR)=>COLOR['Common/White'],
        cssBorderColor:(COLOR)=>COLOR['Blue/04 (basic)'],
        slot: '등록하기'
      }
    })
  }
})%>
<!-- 하단버튼영역:E -->
<%_}_%>

<%_}else{_%>
<!-- 하단버튼영역:S -->
<%-include($rootSrc('@/components/BsBottomFixed'), {
  props:{
    slot: include($rootSrc('@/components/BsButton'), {
      props: {
        block: true,
        size:(SIZE)=>SIZE.LARGE,
        cssBackground:(COLOR)=>COLOR['Blue/04 (basic)'],
        cssColor:(COLOR)=>COLOR['Common/White'],
        cssBorderColor:(COLOR)=>COLOR['Blue/04 (basic)'],
        slot: isGuideReEntryY || title === '창업계획서-가이드-온라인-스텝2' ? '저장' : '저장하고 다음'
      }
    })
  }
})%>
<!-- 하단버튼영역:E -->
<%_}_%>
<%_if(pageKeyName === 'add_user_pop1'){_%>
<!-- 모달:창업 경험을 선택해 주세요:S -->
<%- include($rootSrc('@/components/ui/dialog/UiDialogDefaultChoose'), {
  props: {
    title: '창업 경험을 선택해 주세요',
    items: [
      {codeId: 2, codeName: '1회', checked: false},
      {codeId: 3, codeName: '2회', checked: false},
      {codeId: 4, codeName: '3회', checked: true},
      {codeId: 5, codeName: '4회', checked: false},
      {codeId: 6, codeName: '5회', checked: false},
      {codeId: 7, codeName: '6회 이상', checked: false},
    ]
  }
}) %>
<!-- 모달:창업 경험을 선택해 주세요:E -->
<%_}_%>
<%_if(pageKeyName === 'add_user_pop2'){_%>
<!-- 모달:스토어 타입을 선택해 주세요:S -->
<%- include($rootSrc('@/components/ui/dialog/UiDialogDefaultChoose'), {
  props: {
    title: '스토어 타입을 선택해 주세요',
    items: [
      {codeId: 1, codeName: '자사몰', checked: false},
      {codeId: 2, codeName: '스마트 스토어', checked: false},
      {codeId: 3, codeName: '쿠팡 파트너스', checked: false},
    ]
  }
}) %>
<!-- 모달:스토어 타입을 선택해 주세요:E -->
<%_}_%>
<%_if(pageKeyName === 'add_user_pop3'){_%>
<!-- 모달:창업아이템을 선택해 주세요:S -->
<%- include($rootSrc('@/components/ui/dialog/UiDialogDefaultChoose'), {
  props: {
    title: '창업아이템을 선택해 주세요',
    items: [
      {codeId: 1, codeName: '의류 & 패션 & 잡화', checked: false},
      {codeId: 2, codeName: '식품', checked: false},
      {codeId: 3, codeName: '가전 <span class="t-s"> (컴퓨터 및 주변기기, 전자, 통신기기)</span>', checked: true},
      {codeId: 4, codeName: '뷰티 <span class="t-s"> (화장품)</span>', checked: false},
      {codeId: 5, codeName: '애완용품', checked: false},
      {codeId: 6, codeName: '스포츠&레저', checked: false},
      {codeId: 7, codeName: '아동&유아용품', checked: false},
      {codeId: 8, codeName: '기타', checked: false},
      {codeId: 9, codeName: '미정', checked: false},
    ]
  }
}) %>
<!-- 모달:창업아이템을 선택해 주세요:E -->
<%_}_%>