<%
const {
id = '',
name = '',
value = '',
placeholder = '찾으시는 상품을 입력해주세요.',
icon = '',
type = 'text',
useClear = false,
readonly = false,
disabled = false,
supportMessage = '',
isFocus = false,
isError = false,
isSuccess = false,
required = false,
inputRightSlot = ()=>null,
className,
} = props || {}

%>


<div class="bs-ipt-wrap <%-className? className :''%> <%-isFocus ? 'is-focus' : ''%> <%-isError ? 'is-error' : ''%> <%-isSuccess ? ' ' : ''%> <%-required ? 'is-required' : ''%> <%-readonly ? 'is-readonly' : ''%> <%-disabled ? 'is-disabled' : ''%>">
  <div class="b-inpu-area">
    <input class="b-ipt-text" type="<%-type%>" id="<%-id%>" name="<%-name%>" placeholder="<%-placeholder%>" value="<%-value%>" <%-readonly ? 'readonly' : ''%> <%-disabled ? 'disabled' : ''%> <%-required ? 'required' : ''%>>
    <div class="b-inpt-rt">
      <%_if(useClear){_%>
      <button class="b-clear-bt">
        <span class="blind">값 초기화</span>
      </button>
      <%_}_%>
      <%-inputRightSlot()%>
    </div>
  </div>
  <%_if(supportMessage && (isError || isSuccess)){_%>
  <div class="b-ipt-meesage">
    <p class="ms-msg"><%-supportMessage%></p>
  </div>
  <%_}_%>
</div>